html {
  overflow-y: auto;
}

body{
  background-color: transparent !important;
  font-family: "Poppins", sans-serif !important;
  overflow: hidden;
}



template{
  background-color: transparent !important;

}
